*, ::before, ::after{
	box-sizing: border-box;
}

body{
	background-color: #30633573;
}
.container{
	overflow: hidden;
	width: 600px;
	margin: 0 auto;
	background-color: #fff;
}
.slider{
	display: flex;
	background-color: yellow;
   transition: .8s;
}
.slider__item{
	height: 100px;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}
.btn{
	display: flex;
	flex-direction: row;
	justify-content: center
}
.btn__next:last-child{
	margin-right: 0px;
}
.btn__next, .btn__prev{
display: inline-block;
margin-right: 10px;
margin-top: 15px;
width: 50px;
height: 40px;
}
